.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

.j-space-between {
  justify-content: space-between;
}

.f-direction {
  flex-direction: column;
}

i {
  color: #fff;
}

i:hover {
  cursor: pointer;
  color: rgb(255, 77, 0);
}

h2 {
  color: #fff;
  font-size: 2.4rem;
}

.font_4_rem{
  font-size: 4rem;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.font_1_rem{
  font-size: 1.8rem;
}